form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

form input {
  padding: 20px;
  width: 80%;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: white;
  font-size: 15.5px;
  color: rgba(0, 0, 0, 0.7);
}

form button {
  border: none;
  outline: none;
  padding: 17px 19px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

form button i {
  font-size: 22px;
}
